<div class="signup-container">
    <div class="nav-close-button-box">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="closeLoginNav()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="signup-title">
        <div class="signup-title-text">
            <h1 style="font-weight: 500;">Signup</h1>
            <div style="margin-top: 5px; font-weight: 500">or <a style=" cursor: pointer;" (click)="loginEnable()">login
                    to your account</a></div>
        </div>
        <div class="signup-title-img">
            <img width="100" height="105" alt=""
                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/Image-login_btpq7r">
        </div>
    </div>
    <div class="signup-body" style="overflow-x: hidden;">
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Mobile number" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-submit-button">
            <div class="button-box">
                <button mat-raised-button class="full-width full-height default-button" color="primary"
                    (click)="login()">
                    SIGNUP
                </button>
            </div>
        </div>
    </div>
</div>