.signup-container{
    padding: 30px;
    width: 380px;
    display: flex;
    flex-direction: column;
   
    .signup-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
     
    }
    .signup-body{
        margin-top: 15px;

    }
}
.button-box{
    width: 100%;
    .default-button{
        width: 100%;
        height: 50px;
        color: #fff;
        text-transform: capitalize;
    }
}
.input-box{
    width: 100%;
    .input-text{
        border: 0;
        font-size: 16px;
        color: #282c3f;
        font-weight: 500;
        padding: 10px 50px 10px 20px;
        margin: 0;
        width: 100%;
        outline: none;
        height: 3px;
    }
}