<div class="contact-us-container">
    <div class="vertical-height"></div>
    <div class="vertical-height"></div>
    <div class="flex-middle">
        <h1>Contact Us</h1>
    </div>
    <div class="vertical-height"></div>

    <div class="flex">
        <div class="flex1 flex-middle-column" style="padding: 40px 150px;">

            <mat-form-field appearance="outline" class="input-box full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" class="input-text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-box full-width">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Mobile number" class="input-text">
            </mat-form-field>


            <mat-form-field appearance="outline" class="input-box full-width">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" class="input-text">
            </mat-form-field>


            <mat-form-field appearance="outline" class="input-box full-width">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Please enter your message.."></textarea>
            </mat-form-field>


            <div class="button-box full-width">
                <button mat-raised-button class="full-width full-height default-button" color="primary">
                    SEND
                </button>
            </div>


        </div>
        <div class="flex1 flex-middle-column" style="padding: 40px 20px;">
            <div class="flex-item-center">
                <mat-icon>location_on</mat-icon>
                <span class="small-gap"></span>
                <span class="bold">1404, R3, B, Life Republic, Marunji, Pune</span>
            </div>
            <div class="vertical-height"></div>
            <div class="flex-item-center">
                <mat-icon>call</mat-icon>
                <span class="small-gap"></span>
                <span class="bold">+91-9039907701</span>
            </div>
            <div class="vertical-height"></div>
            <div class="flex-item-center">
                <mat-icon>email</mat-icon>
                <span class="small-gap"></span>
                <span class="bold">jain.a.piyush@gmail.com</span>
            </div>
        </div>
    </div>
</div>