<div class="header-container">

    <div class="contain flex-with-space-between background">
        <div class="left-container flex-item-center flex1 full-height">
            <h2 [routerLink]="['/home']" ><b style="color: red;">RED</b> THEMES</h2>
            <div class="large-gap"></div>
        </div>
        <div class="reverse-flex flex1 full-height">
            <div class="very-small-gap"></div>
            <a mat-button mat-button [routerLink]="['/contactus']" routerLinkActive="active">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">contact_mail</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Contact Us</span>
                </div>
            </a>
            <div class="very-small-gap"></div>
            <a mat-button mat-button [routerLink]="['/review']" routerLinkActive="active">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">rate_review</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Reviews</span>
                </div>
            </a>
            <div class="very-small-gap"></div>
            <a mat-button mat-button [routerLink]="['/home']" routerLinkActive="active">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">home</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Home</span>
                </div>
            </a>

        </div>
        <div class="reverse-flex flex1 full-height">
            <a mat-button [mdePopoverTriggerFor]="cartPopover" [mdePopoverOffsetX]="0" [mdePopoverOffsetY]="55"
                mdePopoverTriggerOn="click" *ngIf="cartItems && cartItems.length > 0">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" color="primary">work</mat-icon>
                    <div class="micro-gap"></div>
                    <span class="header-menu-text" class="primary">{{cartItems.length}}</span>
                </div>
            </a>
            <div class="very-small-gap"></div>
            <a mat-button *ngIf="user" [mdePopoverTriggerFor]="appPopover" [mdePopoverOffsetX]="-50"
                [mdePopoverOffsetY]="55" mdePopoverTriggerOn="click">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">person</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Piyush</span>
                </div>
            </a>

            <a mat-button *ngIf="!user" (click)="openLoginSideNav()">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">person</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Login</span>
                </div>
            </a>
            <div class="very-small-gap"></div>
            <div *ngIf="user">
                <label class="bold">{{200 | currency: 'USD'}}</label></div>


        </div>
    </div>
    <div class="header-line"></div>
</div>
<mde-popover #appPopover="mdePopover" [mdePopoverCloseOnClick]="true" class="background foreground">
    <div class="popover">
        <ul class="profile-dropdown">

            <li [routerLink]="['/my-account/orders']" class="profile-dropdown-item">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">receipt</mat-icon>
                </button>
                Orders
            </li>

            <li [routerLink]="['/my-account']" class="profile-dropdown-item">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                </button>
                Account
            </li>
            <li (click)="logout()" class="profile-dropdown-item" style="padding-left: 12px;;">Sign Out</li>
        </ul>
    </div>
</mde-popover>
<mde-popover #cartPopover="mdePopover" [mdePopoverCloseOnClick]="enableClosePopover">
    <div class="popover cart-card flex-column background foreground" *ngIf="cartItems && cartItems.length > 0">
        <div class="cart-card-header flex-with-space-between padding-horizontaly">
            <div class="flex-item-center">
                <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
                <div class="very-small-gap"></div>
                <h2 class="foreground">Your Order ({{cartItems.length}})</h2>
            </div>
            <button mat-button matSuffix mat-icon-button aria-label="close" (click)="closeCartPopover()">
                <mat-icon fontSet="material-icons-outlined">close</mat-icon>
            </button>

        </div>
        <div class="cart-card-body">
            <ul style="margin: 0; padding: 0;">
                <li class="flex-with-space-between padding" *ngFor="let item of cartItems">
                    <div class="flex-item-center">
                        <mat-form-field style="width: 60px;">
                            <mat-select style="text-align: center !important;" [(ngModel)]="item.quantity"
                                (selectionChange)=addToCart(item)>
                                <mat-option *ngFor="let quantityValue of quantityList" [value]="quantityValue"
                                    style="margin-left: 5px !important;">
                                    {{quantityValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="small-gap"></div>
                        <div class="flex-column">
                            <span> {{item.name}} </span>
                            <label style="margin-top: 5px;">{{item.selectedType.name}} </label>
                        </div>
                    </div>
                    <span>{{(item.quantity * item.selectedType.price) | currency:'USD'}}</span>
                </li>
            </ul>
        </div>
        <div class="cart-card-footer padding">
            <button mat-raised-button [routerLink]="['/checkout']" (click)="closeCartPopover()"
                class="full-width full-height" color="primary">
                <div class="flex-with-space-between">
                    <span>
                        ({{cartItems.length}})
                    </span>
                    <span>
                        Next: Checkout
                    </span>
                    <span>
                        {{calculateTotalPriceOfCart() | currency:'USD'}}
                    </span>
                </div>
            </button>
        </div>


    </div>
</mde-popover>