<div class="myaccount-container">
    <div class="myaccount-container-body second-view">
        <div class="secondary-container-header">
            <div class="header-text" style="color: #fff;">
                <h1>Piyush Jain</h1>
                <span class="secondary-text">
                    <span>9039907701</span>
                    <span style="margin-left: 20px">jain.a.piyush@gmail.com</span>
                </span>
            </div>
            <div class="edit-button-box">
                <button mat-raised-button class="edit-button-text">Edit Profile</button>
            </div>
        </div>
        <div class="body">
            <div class="result-view">
                <div class="result-box">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>